  <div style="border: 1px solid #0a4595; padding: 20px 30px; margin-top: 10px;letter-spacing: 0.75px;line-height: 1.25;">
    <h4 style="font-size: 24px; margin: 10px 0;">{{ 'Dear User'|t }}</h4>
    <p>{{ 'OTP for your registration is'|t }}: <b>{{ values.otp }}</b> </p>
    <p>{{ 'This otp is valid for next 5 minutes'|t }}</p><br>
  </div>
